USE [master]
GO
/****** Object:  Database [SeguimientoPaquetesTest]    Script Date: 6/8/2018 10:11:22 PM ******/
CREATE DATABASE [SeguimientoPaquetesTest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SeguimientoPaquetesTest', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLSERVER\MSSQL\DATA\SeguimientoPaquetesTest.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SeguimientoPaquetesTest_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLSERVER\MSSQL\DATA\SeguimientoPaquetesTest_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SeguimientoPaquetesTest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SeguimientoPaquetesTest]
GO
USE [SeguimientoPaquetesTest]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 6/8/2018 10:11:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](15) NOT NULL,
	[Usuario] [nvarchar](15) NOT NULL,
	[Password] [nvarchar](10) NOT NULL,
	[Tipo_usuario] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id_Usuario], [Nombre], [Usuario], [Password], [Tipo_usuario]) VALUES (1, N'Carlos', N'carlos', N'1234', N'Admin')
INSERT [dbo].[Usuarios] ([Id_Usuario], [Nombre], [Usuario], [Password], [Tipo_usuario]) VALUES (2, N'Marcela', N'marcela', N'5678', N'User')
INSERT [dbo].[Usuarios] ([Id_Usuario], [Nombre], [Usuario], [Password], [Tipo_usuario]) VALUES (3, N'Andrey', N'andrey', N'9090', N'Client')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
USE [master]
GO
