USE [master]
GO
/****** Object:  Database [SeguimientoPaquetes]    Script Date: 6/11/2018 1:20:13 AM ******/
CREATE DATABASE [SeguimientoPaquetes]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SeguimientoPaquetes', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLSERVER\MSSQL\DATA\SeguimientoPaquetes.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SeguimientoPaquetes_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLSERVER\MSSQL\DATA\SeguimientoPaquetes_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SeguimientoPaquetes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SeguimientoPaquetes]
GO
USE [SeguimientoPaquetes]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 6/11/2018 1:20:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[IDCLIENTE] [int] IDENTITY(70,1) NOT NULL,
	[NOMBRECLIENTE] [nvarchar](30) NOT NULL,
	[DIRECCIONCLIENTE] [nvarchar](30) NOT NULL,
	[TARJETA] [int] NOT NULL,
 CONSTRAINT [PK_CLIENTES] PRIMARY KEY CLUSTERED 
(
	[IDCLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DESTINO]    Script Date: 6/11/2018 1:20:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DESTINO](
	[IDDESTINO] [int] IDENTITY(50,1) NOT NULL,
	[PAIS] [nvarchar](30) NOT NULL,
	[CIUDAD] [nvarchar](30) NOT NULL,
	[INPUESTO] [int] NOT NULL,
 CONSTRAINT [PK_DESTINO] PRIMARY KEY CLUSTERED 
(
	[IDDESTINO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENVIO]    Script Date: 6/11/2018 1:20:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENVIO](
	[IDENVIO] [int] IDENTITY(30,1) NOT NULL,
	[DESC_ENVIO] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_ENVIO] PRIMARY KEY CLUSTERED 
(
	[IDENVIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADO]    Script Date: 6/11/2018 1:20:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO](
	[IDESTADO] [int] IDENTITY(40,1) NOT NULL,
	[DESC_ESTADO] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_ESTADO] PRIMARY KEY CLUSTERED 
(
	[IDESTADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORIGEN]    Script Date: 6/11/2018 1:20:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORIGEN](
	[IDORIGEN] [int] IDENTITY(10,1) NOT NULL,
	[PAIS] [nvarchar](30) NOT NULL,
	[CIUDAD] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_ORIGEN] PRIMARY KEY CLUSTERED 
(
	[IDORIGEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGO]    Script Date: 6/11/2018 1:20:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGO](
	[IDPAGO] [int] IDENTITY(20,1) NOT NULL,
	[DESC_PAGO] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_PAGO] PRIMARY KEY CLUSTERED 
(
	[IDPAGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDOS]    Script Date: 6/11/2018 1:20:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDOS](
	[IDPEDIDO] [int] IDENTITY(700,1) NOT NULL,
	[IDUSUARIO] [nvarchar](30) NOT NULL,
	[IDORIGEN] [int] NOT NULL,
	[IDDESTINO] [int] NOT NULL,
	[IDPAGO] [int] NOT NULL,
	[IDENVIO] [int] NOT NULL,
	[IDESTADO] [int] NOT NULL,
	[IDCLIENTE] [int] NOT NULL,
	[TOTAL] [int] NOT NULL,
 CONSTRAINT [PK_PEDIDOS] PRIMARY KEY CLUSTERED 
(
	[IDPEDIDO] ASC,
	[IDUSUARIO] ASC,
	[IDORIGEN] ASC,
	[IDDESTINO] ASC,
	[IDPAGO] ASC,
	[IDENVIO] ASC,
	[IDESTADO] ASC,
	[IDCLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 6/11/2018 1:20:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[IDUSUARIO] [nvarchar](30) NOT NULL,
	[PASSW] [nvarchar](30) NOT NULL,
	[TIPO_USUARIO] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[IDUSUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DESTINO] ON 

INSERT [dbo].[DESTINO] ([IDDESTINO], [PAIS], [CIUDAD], [INPUESTO]) VALUES (50, N'Alabama (AL)', N'Montgomery', 200)
INSERT [dbo].[DESTINO] ([IDDESTINO], [PAIS], [CIUDAD], [INPUESTO]) VALUES (51, N'Alaska (AK)', N'Juneau', 200)
INSERT [dbo].[DESTINO] ([IDDESTINO], [PAIS], [CIUDAD], [INPUESTO]) VALUES (52, N'Arizona (AZ)', N'Phoenix', 200)
SET IDENTITY_INSERT [dbo].[DESTINO] OFF
SET IDENTITY_INSERT [dbo].[ENVIO] ON 

INSERT [dbo].[ENVIO] ([IDENVIO], [DESC_ENVIO]) VALUES (30, N'TERRESTRE')
INSERT [dbo].[ENVIO] ([IDENVIO], [DESC_ENVIO]) VALUES (31, N'MARITIMO')
INSERT [dbo].[ENVIO] ([IDENVIO], [DESC_ENVIO]) VALUES (32, N'AEREO')
SET IDENTITY_INSERT [dbo].[ENVIO] OFF
SET IDENTITY_INSERT [dbo].[ESTADO] ON 

INSERT [dbo].[ESTADO] ([IDESTADO], [DESC_ESTADO]) VALUES (40, N'PROCESANDO')
INSERT [dbo].[ESTADO] ([IDESTADO], [DESC_ESTADO]) VALUES (41, N'FLETE')
INSERT [dbo].[ESTADO] ([IDESTADO], [DESC_ESTADO]) VALUES (42, N'CASI LLEGANDO')
SET IDENTITY_INSERT [dbo].[ESTADO] OFF
SET IDENTITY_INSERT [dbo].[ORIGEN] ON 

INSERT [dbo].[ORIGEN] ([IDORIGEN], [PAIS], [CIUDAD]) VALUES (10, N'Alabama (AL)', N'Montgomery')
INSERT [dbo].[ORIGEN] ([IDORIGEN], [PAIS], [CIUDAD]) VALUES (11, N'Alaska (AK)', N'Juneau')
INSERT [dbo].[ORIGEN] ([IDORIGEN], [PAIS], [CIUDAD]) VALUES (12, N'Arizona (AZ)', N'Phoenix')
SET IDENTITY_INSERT [dbo].[ORIGEN] OFF
SET IDENTITY_INSERT [dbo].[PAGO] ON 

INSERT [dbo].[PAGO] ([IDPAGO], [DESC_PAGO]) VALUES (20, N'TARJETA CREDITO')
INSERT [dbo].[PAGO] ([IDPAGO], [DESC_PAGO]) VALUES (21, N'TARJETA DEBITO')
INSERT [dbo].[PAGO] ([IDPAGO], [DESC_PAGO]) VALUES (22, N'EFECTIVO')
SET IDENTITY_INSERT [dbo].[PAGO] OFF
INSERT [dbo].[USUARIOS] ([IDUSUARIO], [PASSW], [TIPO_USUARIO]) VALUES (N'1', N'1234', N'ADMIN')
INSERT [dbo].[USUARIOS] ([IDUSUARIO], [PASSW], [TIPO_USUARIO]) VALUES (N'2', N'1234', N'USER')
INSERT [dbo].[USUARIOS] ([IDUSUARIO], [PASSW], [TIPO_USUARIO]) VALUES (N'CARLOS', N'1234', N'ADMIN')
ALTER TABLE [dbo].[PEDIDOS]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDOS_CLIENTES] FOREIGN KEY([IDCLIENTE])
REFERENCES [dbo].[CLIENTES] ([IDCLIENTE])
GO
ALTER TABLE [dbo].[PEDIDOS] CHECK CONSTRAINT [FK_PEDIDOS_CLIENTES]
GO
ALTER TABLE [dbo].[PEDIDOS]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDOS_DESTINO] FOREIGN KEY([IDDESTINO])
REFERENCES [dbo].[DESTINO] ([IDDESTINO])
GO
ALTER TABLE [dbo].[PEDIDOS] CHECK CONSTRAINT [FK_PEDIDOS_DESTINO]
GO
ALTER TABLE [dbo].[PEDIDOS]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDOS_ENVIO] FOREIGN KEY([IDENVIO])
REFERENCES [dbo].[ENVIO] ([IDENVIO])
GO
ALTER TABLE [dbo].[PEDIDOS] CHECK CONSTRAINT [FK_PEDIDOS_ENVIO]
GO
ALTER TABLE [dbo].[PEDIDOS]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDOS_ESTADO] FOREIGN KEY([IDESTADO])
REFERENCES [dbo].[ESTADO] ([IDESTADO])
GO
ALTER TABLE [dbo].[PEDIDOS] CHECK CONSTRAINT [FK_PEDIDOS_ESTADO]
GO
ALTER TABLE [dbo].[PEDIDOS]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDOS_ORIGEN] FOREIGN KEY([IDORIGEN])
REFERENCES [dbo].[ORIGEN] ([IDORIGEN])
GO
ALTER TABLE [dbo].[PEDIDOS] CHECK CONSTRAINT [FK_PEDIDOS_ORIGEN]
GO
ALTER TABLE [dbo].[PEDIDOS]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDOS_PAGO] FOREIGN KEY([IDPAGO])
REFERENCES [dbo].[PAGO] ([IDPAGO])
GO
ALTER TABLE [dbo].[PEDIDOS] CHECK CONSTRAINT [FK_PEDIDOS_PAGO]
GO
ALTER TABLE [dbo].[PEDIDOS]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDOS_USUARIOS] FOREIGN KEY([IDUSUARIO])
REFERENCES [dbo].[USUARIOS] ([IDUSUARIO])
GO
ALTER TABLE [dbo].[PEDIDOS] CHECK CONSTRAINT [FK_PEDIDOS_USUARIOS]
GO
/****** Object:  StoredProcedure [dbo].[LOGIN]    Script Date: 6/11/2018 1:20:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[LOGIN]
@IDUSER nvarchar(30),
@PASS nvarchar(30),
@TIPO_USER nvarchar(30)
AS
SELECT * FROM USUARIOS WHERE IDUSUARIO=@IDUSER AND PASSW=@PASS AND TIPO_USUARIO=@TIPO_USER 
GO
USE [master]
GO
